:root {
  --dark-bg: #121212d7;
  --darker-bg: #0a0a0a;
  // --accent-color: #6e45e2;
  // --accent-color: #f9ba32;
  --accent-color: #3278f9;
  --text-color: #f5f5f5;
  --text-secondary: #aaaaaa;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
}

.inactive {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

.sections-dropdown,
.mobile-sections-btn {
  cursor: pointer;
}
